body{
    background-color: rgb(205, 214, 214);
}

#header-link{
    font-size: 30px;
    color:  rgb(43, 164, 180);
   margin-left: 70px;
    display: inline-block;
}

#name{
    float: left;
    font-size: 30px;
    color:  rgb(43, 164, 180);
}



nav ul{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 200px;
    padding-top: 23px;
    position: relative;
  }

  h1{
    color: rgb(43, 164, 180);
}

#bio-image{
    position: relative;
  left: 0px;
  width: 250px;
    padding: 10px;
}



p{
    color: rgb(80, 84, 85);
    
}

.wrapper {
    /* Box-model */
    width: 1024px;
  
    /* Positioning */
    margin: 40px auto;
  }

  @media screen and (max-width: 980px) {
    body {
      background-color: rgb(95, 163, 88);

    }
    /* The wrapper's width will be 600px */
    .wrapper {
        width: 920px;
    }

}

  @media screen and (max-width: 768px) {
    body {
      background-color: rgb(158, 167, 80);

    }
    /* The wrapper's width will be 600px */
    .wrapper {
        width: 720px;
    }
}

    @media screen and (max-width: 640px) {
        body {
          background-color: rgb(150, 105, 144);
    
        }
        nav ul {
            float: left;
            width: 100%;
          }
        /* The wrapper's width will be 600px */
        .wrapper {
            width: 600px;
        }
  
    }

   


