body{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



#header-link{
    font-size: 25px;
    color:  blue;
     margin-left: 70px;
    display: inline-block;
    text-transform: uppercase;
}

#name{
    float: left;
    font-size: 30px;
    color:  blue;
    text-transform: uppercase;
}





nav ul{
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
  
    display: inline-block;
    margin: 0;
    /* margin-left: 200px; */
    /* padding-top: 23px; */
    /* position: relative; */
    padding: 0 20px 0 20px;
  }

  h1{
    color:  blue;
}

#github-image, #linkedIn-image{
  width: 40px;
  height: 40px;
}

#bio-image{
    position: relative;
  left: 0px;
  width: 250px;
    padding: 10px;
}

#my-details {
  color:  blue;
}

#github-link, #linkedIn-link{
  color:  black;
} 




p{
    color: black;
    
}

#project-images{
  width: 800px;
  height: 500px;
}

#projects h4{
  color: blue;
}

#projects a{
  color: blue;
}

.wrapper {
    /* Box-model */
    width: 1024px;
  
    /* Positioning */
    margin: 40px auto;
  }

  @media screen and (max-width: 980px) {
    body {
      /* background-color: rgb(76, 216, 61); */

    }
    /* The wrapper's width will be 600px */
    .wrapper {
        width: 920px;
    }

}

  @media screen and (max-width: 768px) {
    body {
      /* background-color: rgb(148, 160, 45); */

    }
    /* The wrapper's width will be 600px */
    .wrapper {
        width: 720px;
    }
}

    @media screen and (max-width: 640px) {
        body {
          /* background-color: rgb(187, 82, 173); */
    
        }
        nav ul {
            float: left;
            width: 100%;
          }
        /* The wrapper's width will be 600px */
        .wrapper {
            width: 600px;
        }
  
    }

   


